gossips#new
= form_with model: @gossip, local: true do |f|
  = f.text_field :name, class: "SettingGroupForm__input", placeholder: "グループ名を入力してください"
  = f.collection_check_boxes :user_ids, User.where(id: current_user.id), :id, :name
  = f.submit "Save", class: "SettingGroupForm__button"

.return
  =link_to gossips_path do
    returnGossipIndex
  =link_to root_path do
    returnTop