.header
  .header__wrapper
    %a.header__wrapper__auth(href="#")
      Night Walk
    .header__wrapper__links
      %a(href="#")
        Home
      %a(href="/about")
        About
      %a(href="#")
        Products
      %a(href="#")
        Story
      %button
        = icon('fas', 'ellipsis-h')
        %span.circle1