.header
  .header__wrapper
    = image_tag src="Hagarenn_logobig.jpg", size: "250x80"
    %a.header__wrapper__auth(href="#")
      荒川　弘
    .header__wrapper__links
      %a(href="#")
        Home
      %a(href="#")
        Concept
      %a(href="#")
        Products
      %a(href="#")
        Story
      %button
        = icon('fas', 'ellipsis-h', class: 'head__top__wrapper__content3__icon__box')
        %span.circle1
  
  -# %span.circle2
  -# %span.circle3
  -# %span.box1
  -# %span.box2
  -# %span.box3

-# <span class="circle1"></span>
-# <span class="circle2"></span>
-# <span class="circle3"></span>
-# <span class="box1"></span>
-# <span class="box2"></span>
-# <span class="box3"></span>