.top
  .top__wrapper
    .top__wrapper__backs
      .top__wrapper__backs__back1
      .top__wrapper__backs__back2
        .top__wrapper__backs__back2__effect
          = video_tag src="fog.mp4", autoplay: true, muted: true, class: 'fog_video'
          .title
            Night Walk