= render "TopOfTop"
.about
  .about__wrapper
    %h1
      Concept
    %p.row1
      %span 夜
      になりました。
    %p.row2
      玄関のドアを開け
    %p.row3
      スポットを目指すもよし
    %p.row4
      部屋に籠り、
    %p.row5
      映画を見るもよし
    %p.row6
      このサイトは
    %p.row7
      %span ホラー大好き
      なあなたを
    %p.row8
      サポートす
    %p.row9
      る
    %p.row10
      ツールです
    %br
    %h1
      How to use・・・
    %p.row11
      %a(href="/") トップページ
      に戻って
    %p.row12
      ヘッダーのリンクをクリックしてみましょう
    %p.row13
      きっとあなたの役に立つ筈・・・
    .about__wrapper__imageBox
      = image_tag src="Ghostface.png", size: "600x500"


