.chitchatIndex
  .chitchatIndex__wrapper
    .chitchatIndex__wrapper__title
    %h1
      ChitChats一覧
    .chitchatIndex__wrapper__contents
      -@chitchats.each do |chitchat|
        .chitchatIndex__wrapper__contents__content
          = chitchat.name