@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/top";
@import "modules/TopOfTop";
@import "modules/header";
@import "modules/middle_1";
@import "modules/middle_2";
@import "modules/middle_3";
@import "modules/middle_4";
@import "modules/footer";
@import "modules/about";

@font-face{
  font-family: 'ZenjidoJP-FeltPenLMT';
  src: font-url('/fonts/ZenjidoJP-FeltPenLMT.otf');
}

@font-face{
  font-family: 'JiyunoTsubasa';
  src: font-url('/fonts/JiyunoTsubasa.ttf');
}

@font-face{
  font-family: 'onryou';
  src: font-url('/fonts/onryou.TTF');
}