.map#map{style: "width: 900px; height: 800px;"}
%input#origin{type: 'textbox', value: '甲府駅(山梨)'}
%br
%input#destination{type: 'textbox', value: '山梨市駅（山梨）'}
%br
%input#searchBtn{type: 'button', value: '検索'}