.map#map{style: "width: 530px; height: 400px;"}
%input#origin{type: 'textbox', value: '福井駅(福井)'}
%br
%input#destination{type: 'textbox', value: '福井県福井市役所'}
%br
%input#searchBtn{type: 'button', value: '検索'}